data/stanford_cuis_svd_300.txt
data/devine_etal_200.txt
data/claims_cuis_hs_300.txt
data/claims_codes_hs_300.txt
eval/MRCONSO.RRF
data/MRCONSO.RRF
data/cui2vec_pretrained.csv
data/cui2vec_pretrained.csv.zip
data/cui2vec_pretrained.txt
data/stanford_cuis_svd_300.txt.gz
data/claims_cuis_hs_300.txt.gz
data/claims_codes_hs_300.txt.gz
data/UMNSRS_relatedness_mod458_word2vec.csv
data/DeVine_etal_200.txt.gz
data/UMNSRS_similarity_mod449_word2vec.csv
data/cui2vec_scrambled.csv
